.signup_button {
  margin: 10px;
  padding: 15px;
  width: 20%;
}

input {
  padding: 10px;
  min-width: 30%;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

error-message{
  color: red
}


.email_box{
  /*width: 100%;*/
  /*border: #45a049 3px;*/
  /*border-radius: 8px;*/
}

